<!DOCTYPE html>
<html>
  <head>
    <title>Llm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>ActiveIntelligence::LLM Example</h1>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
